*{
    font-family: 'Undertale Battle Font', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    
}
.container{
    max-width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(img/background.png);
}
header{
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div{
    width: 2%;
}
.logo_text{
    font-family: 'Agency FB', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
.burger{
    margin-right: 1%;
}
.block1{
    padding-top: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50.5%;
}
.block1 h{
    font-size: 48px;
}
.place{
    padding-top: 0.2%;
    display: flex;
    align-items: center;
}
.place img{
    margin-right: 1vw;
    width: 3.5%;
    height: 4%;
}
.block1 a{
    font-size: 36px;
    margin-left: 15%;
    margin-top: 3%;
}
.block1 a:hover{
    color: #4C7EEE;
}
.block2{
    padding-top: 26%;
}
.bl2_1{
    display: flex;
    align-items: center;
    margin-left: 5.8%;
}
.bl2_1 p{
    width: 35%;
    margin-left: 2%;
}
.line{
    background-color: white;
    width: 88.3%;
    height: 2px;
    margin-top: 1.7%;
    margin-left: auto;
    margin-right: auto;
}
.prices{
    padding-top: 7%;
}
.main_text{
    font-size: 48px;
    text-align: center;
}
.services{
    padding-top: 1%;
    display: flex;
}
.services img{
    width: 36%;
    height: 36%;
    margin-left: auto;
}
.price1{
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}
.price1 p{
    margin-top: 6%;
}
.price2{
    display: flex;
}
.s1{
    display: flex;
    flex-direction: column;
}
.s1 a{
    font-size: 32px;
    margin-top: 7%;
}
.s1 a:hover{
    color: #4C7EEE;
}
.s2{
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
}
.s2 a{
    font-size: 32px;
    margin-top: 1vw;
}
.s2 a:hover{
    color: #4C7EEE;
}
.hours{
    font-size: 32px;
}
.gray_text{
    font-size: 24px;
    color: #BFBFBF;
}
.gray_text{
    margin-top: 2vw;
}
.gray_text p{
    font-size: 24px;
    color: #BFBFBF;
    margin-top: 1.5vw;
    padding-left: 2vw;
    background-image: url(img/phone.png);
    background-repeat: no-repeat;
}
.block3{
    display: flex;
    padding-top: 7.5%;
    padding-bottom: 5%;
}
.block3 img{
    margin-top: 60px;
    width: 33%;
    height: 33%;
}
.block_text{
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.block_text ul{
    padding-left: 4%;
    width: 70%;
    margin-top: 10%;
}
.block_text h{
    font-size: 48px;
}
footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.logo_foot{
    margin-right: 6.5%;
}
.info{
    padding-left: 6%;
}
.messangers{
    padding-right: 6%;
}
.messangers img{
    width: 24%;
}
.a1{
    margin-left: 0.5vw;
}
@media screen and (min-width: 1920px){
    .container{
        max-width: 1920px;
    }
    header{
        max-width: 1920px;
        height: 66px;
    }
    footer{
        max-width: 1920px;
        height: 270px;
    }
    .messangers img{
        width: 50px;
    }
    .a1{
        margin-left: 10px;
    }
    .s1 a{
        margin-top: 24px;
    }
    .s2{
        margin-left: 150px;
    }
    .s2 a{
        margin-top: 24px;
    }
    .gray_text{
        margin-top: 24px;
    }
    .gray_text p{
        margin-top: 35px;
        padding-left: 40px;
    }
}
@media screen and (max-width: 1440px) {
    .container{
        background-image: url(img/back1440.png);
    }
    .s2 {
        margin-left: 8vw;
        display: flex;
        flex-direction: column;
    }
    .bl2_1 p {
        width: 50%;
    }
    .services img{
        width: 30%;
        height: 30%;
    }
    .block_text ul {
        width: 90%;
    }
    .s2 {
        margin-left: 6vw;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        background-image: url(img/back1024.png);
    }
    .logo_text{
        font-size: 32px;
    }
    .burger img{
        width: 70%;
    }
    header div{
        width: 5.5%;
    }
    .block1 h {
        font-size: 36px;
        margin-bottom: 1%;
    }
    .block1 a{
        font-size: 28px;
        margin-top: 2%;
    }
    *{
        font-size: 20px;
    }
    .bl2_1 p{
        width: 60%;
    }
    .bl2_1 img{
        width: 10%;
    }
    .main_text{
        font-size: 36px;
    }
    .hours{
        font-size: 22px;
    }
    .gray_text{
        font-size: 18px;
    }
    .gray_text p{
        font-size: 18px;
        padding-left: 3vw;
    }
    .s1 a{
        font-size: 26px;
        margin-top: 5%;
    }
    .s2 a{
        font-size: 26px;
    }
    .block_text h{
        font-size: 36px;
    }
    .block_text ul {
        width: 95%;
    }
    .logo_foot img{
        width: 80%;
    }
    .messangers img{
        width: 22%;
    }
    .messangers {
        padding-right: 3.5%;
    }
    footer{
        padding-top: 3%;
        padding-bottom: 3%;
    }
}